html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

body {
  line-height: 1.5;
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-1,
.table-2 {
  width: 100%;
}

td {
  padding: 0.7rem 0.8rem;
  border-left: 2px solid darkblue;
}

td:first-child {
  text-align: left;
}

td:last-child {
  text-align: right;
}

td:first-child,
td:last-child {
  font-weight: 800;
}

th {
  background-color: lightblue;
  border-left: 2px solid darkblue;
  border-right: 2px solid darkblue;
}

tr {
  border-top: 2px solid lightblue;
  border-bottom: 2px solid lightblue;
}

thead tr:first-child {
  border-top: 2px solid darkblue;
}

tbody tr:last-child {
  border: 2px solid darkblue;
}

body table {
  border-collapse: collapse;
  border: 2px solid darkblue;
  width: 100%;
  text-align: center;
}

p {
  margin-top: 1.5rem;
  align-self: flex-start;
}

.light-borders {
  border-left: 2px solid lightblue;
  border-right: 2px solid lightblue;
}
