html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: sans-serif;
  background-image: linear-gradient(to right bottom, lightblue, darkblue);
  min-height: 100vh;
}

.container {
  max-width: 100rem;
  padding: 5rem;
}

h1 {
  text-align: center;
}

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 100rem;
  background-color: lightblue;
  color: darkblue;
  font-weight: 600;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(0, 86, 139);
  color: lightblue;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
}
